/* global scope variable */
:root {
    /* Declaring varibales */
    --primary: #EA40A4;
    --business: #3A82EE;
    --grey: #888; 
    /*  we use var to use the variable */
    --personal: var(--primary);
    --light: #EEE;
    --dark: #313154;
    --danger: #ff5b57;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

/* resseting */
* {
    margin: 0;
    padding: 0;
    /* Use so that the element ar einside of the box */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main{
    margin-left: 4rem;
    margin-top: 2rem;
}

/* If the input it;s not radio nor checkbox nor button */
/*  So those that are "input" but reffers to those that contains ifnormation that can be edited :D */
input:not([type="radio"]):not([type="checkbox"]),
button {
    /* control native appearance of UI controls, that are based on operating system's theme. */
    appearance: none;
    border: none;
    /* line drawn outside the element's border. */
    outline: none;
    background: none;
    /* hou mouse cursor its appeared */
    cursor: initial;
}

body {
    background: var(--light);
    color: var(--dark);
}

input:not([name="greeting-name"]), label {
    display:block;
}

/* em --> relative to the parent font size */s
/* Section styling */
section {
    margin: 2rem 0 2rem 0;
    padding: 0 1.5rem 0 1.5rem;
}

h3{
    color: var(--dark); 
    font-size: 1rem; 
    font-weight: 0.5rem; 
    margin-bottom: 0.5rem; 
}

label[for="todo-create"], label[for="category-options"] {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem; 
}

/* Section greeting */
.greeting{
    display: flex;
}

.greeting input{
    /* margin-left: 0.4rem; */
    /* Three values: flex-grow | flex-shrink | flex-basis */
    flex: 1 1 0%; 
    min-width: 0; 
    color: var(--dark); 
    font-size: 1.5rem;
    font-weight: 700;

}